body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: 'Roboto', sans-serif;
  -moz-osx-font-smoothing: 'Roboto' sans-serif;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6, p{
  margin: 0;
} 

:root{
  --primary: #2d452f;
  --heading-color: #6b9d4a;
  --bg-filter: #cfe2ce;
  --logo-color: #4c6a4b;
  --black: #000000;
  --white: #ffffff;
  --green-gradient: linear-gradient(to right, rgba(0, 128, 0, 0.7), rgba(0, 128, 0, 0.5));
  --light-green-gradient: linear-gradient(to right, rgba(0, 128, 0, 0.2), rgba(0, 128, 0, 0.1));
  --transition: 0.5s cubic-bezier(0.545, 0.03, 0.395, 0.965),
      border-color 0.5s cubic-bezier(0.545, 0.03, 0.395, 0.965);
}